---
layout: default
---
<!-- Hero Start -->
<div class="hero">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="hero-content">
          <div class="hero-text">
            <h1>{{ page.title | default: 'Manan Tayal' }}</h1>
            <div class="typed-text">{{ page.hero_tagline | default: 'Fallback value' }}</div>
          </div>
        </div>
      </div>
      {% if page.image %}
        <div class="col-md-6 d-none d-md-block">
          <img src="{{ page.image | relative_url }}" alt=" Image">
        </div>
      {% endif %}
    </div>
  </div>
</div>
<!-- Hero End -->

<div class="container mt-5" role="main">
  <div class="post">
    <article>
      {{ content }}
    </article>

    {% if page.related_publications %}
      <h2>References</h2>
      <div class="publications">
        {% bibliography --cited_in_order %}
      </div>
    {% endif %}

    {% if site.giscus and page.giscus_comments %}
      {% include giscus.liquid %}
    {% endif %}
  </div>
</div>
